body,html,h1,h2,h3,h4,li,img,p{

	padding: 0 0 0 0;
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-weight: 0;

}
body{


	background-color: hsl(158,50%,98%);
	margin: 0 auto 0 auto;


}

ul{
	padding: none;
	list-style-type: none;
}


.header{

	margin: 5px 5px 5px 11.19%;
	float: left;
	height: 80px;
	width: 15%;
}
.header img{
	width: 100%;
	height: 100%;
}
.main{
	color: #000000;
	border: 1px solid #000000;
	width: 100%;

}
@media (max-width: 700px)
{

	.main{
		width: 100%;
		margin: 0px auto 0px auto;
	}

	.header{

		margin: 5px 0 0 5px;
		float: left;
		height: 90px;
		width: 170px;

	}
	.header img{
		height: 90px;
		width: 170px;
	
	}
}


.nav li{
	display: inline;
}
h1{
	font-size: 45px;
	margin: 20px 0px 0px 0;
	font-family: "Times New Roman",droid-serif;
	font-weight: normal;
	text-decoration: underline;
}
.nav{
	margin: 15px 100px 0px 0px;
	width: 700px;
	float: right;
	height: 65px;
	font-family: rockwell,coustard,patuaone,geometrcic-sans-serif;
	font-size: 20px;
	color: #ff0000;


	
}
.nav li{
}

.nav a{

	padding: 5px 15px 5px 15px;
	color: hsl(158,45%,30%);
	box-sizing: 100px;
	font-family: Courier New, monospace;

	


}
.nav a:hover{
	border: 2px solid hsl(158,40%,30%);
	padding: 5px 13px 5px 13px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: 2px 2px 2px 2px hsl(158,40%,30%); 
}
.active{
	border: 2px solid hsl(158,40%,30%);
	padding: 5px 15px 5px 15px;

	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: 2px 2px 2px 2px hsl(158,40%,30%);	
}
.active:hover{
	margin: 0 2px 0 2px;
	padding: 5px 15px 5px 15px;
}

@media (max-width: 700px)
{
	.nav{
		width: 110%;

		margin: 5px auto 0 auto;
		font-size: 13px;
		height: 40px;

	}
	.nav li{
		width: 60px;

	}
}
.fnav{

	width: 36%;
	margin: 0 auto 0 auto;

	font-family: lato,helvetica,verdana;
	font-size: 15px;



	
}
.fnav li{
	display: inline;

}

.fnav a{


	color: #ffffff;
	margin: 0px 4.666% 0px 4.666%;
	

}
@media (max-width: 700px)
{
	.fnav{

	width: 120px;
	margin: 0 76% 0 0;
	float: right;
	font-family: lato,helvetica,verdana;
	font-size: 15px;

	list-style: none;

	
}
.fnav li{
	display: block;
	margin: 20px 0 20px 0;


}

.fnav a{


	color: #ffffff;
	margin: 20px 0 20px 0;
	

}

}
.main{
	color: #000000;

	border: 1px solid #000000;

}

.upper{
	height: 450px;
	border: 1px solid #000000;
	background: url(images/nn.jpg);
}
.upper ul{

}
.upper h1{
	font-size: 72px;
	height: 400;
	width: 600px;
	margin: 100px auto 0 auto;
	font-family: lato,helvetica,verdana;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	
}
.upper h2{
	font-size: 24px;
	height: 400;
	width: 500px;
	margin: 10px auto 50px auto;
	text-align: center;
	color: #ffffff;
	line-height: 1.5;
	text-decoration: none;
	font-weight: bold;

}
.upper a{
	font-size: 24px;
	font-family: lato,helvetica,verdana;
	padding: 10px 20px 10px 20px;
	margin: 0 50px 0 50px;
	border-radius: 20px;

	text-decoration: none;
	background-color: white;
	transition: 0.2s;
	opacity: 0.7;
	color: hsl(158,30%,20%);
	border: 3px solid hsl(158,30%,20%);

}
.upper a:hover{
	background-color: transparent;
	color: #ffffff;
	border: 3px solid #ffffff;
	opacity: 0.9;
}
	display: inline;

}
.upper ul{
	margin: 0 auto 0 auto;

	width: 830px; 
}
.first{
	margin-left: 20px;
	width: 270px;
	float: left;
}
.cent{
	width: 850px;
	margin: 0 auto 0 auto;
}
@media (max-width: 700px)
{
	.upper{
	height: 350px;
	border: 1px solid #000000;
	background: url(images/nn.jpg);
}
	.upper h1{
	font-size: 56px;
	height: 400;
	width: 300px;

	margin: 20px auto 0 auto;
	font-family: lato,helvetica,verdana;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	
}
	.upper h2{
	font-size: 18px;
	height: 400;
	width: 250px;
	margin: 5px auto 20px auto;
	text-align: center;
	color: #ffffff;
	line-height: 1.5;
	text-decoration: none;


}
.upper a{
	font-size: 16px;
	font-family: lato,helvetica,verdana;
	padding: 10px 10px 10px 10px;
	margin: 0 1% 0 1%;


	text-decoration: none;
	border: 3px solid #ffffff;
	border-radius: 20px;

}
.upper li{


}
.upper ul{
	margin: 0 auto 0 auto;

	width: 100%; 


	height: 50px
}
.first{
	width: 115px;
	margin: 0.5%;
}
.cent{
	width: 360px;
	margin: 0 auto 0 auto;

}

}
.upper1{
	height: 200px;
	border: 1px solid #000000;
	background: url(images/nn.jpg);	
}
.upper1 h1{
	font-size: 72px;

	width: 800px;
	margin: 20px auto 0 auto;
	font-family: lato,helvetica,verdana;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	
}
.upper1 h2{
	font-size: 24px;

	width: 500px;
	margin: 10px auto 50px auto;
	text-align: center;
	color: #ffffff;
	line-height: 1.5;
	text-decoration: none;


}
.upper1 a{
	font-size: 24px;
	font-family: lato,helvetica,verdana;
	padding: 10px 20px 10px 20px;
	margin: 0 50px 0 50px;

	color: #ffffff;
	text-decoration: none;
	border: 3px solid #ffffff;
	border-radius: 20px;

}
@media (max-width: 700px)
{
	.upper1{
	height: 120px;
	width: 100%;
	border: 1px solid #000000;
	background: url(images/nn.jpg);	
}
.upper1 h1{
	font-size: 48px;

	width: 100%;
	margin: 5px auto 5px auto;
	font-family: lato,helvetica,verdana;

	color: #ffffff;
	text-decoration: none;
	
}
.upper1 h2{
	font-size: 18px;

	width: 50%;
	margin: 0px auto 0px auto;
	text-align: center;
	color: #ffffff;
	line-height: 1;
	text-decoration: none;


}
.upper1 a{
	font-size: 18px;
	font-family: lato,helvetica,verdana;
	padding: 10px 20px 10px 20px;
	margin: 0 50px 0 50px;

	color: #ffffff;
	text-decoration: none;
	border: 3px solid #ffffff;
	border-radius: 20px;

}

}
.description{

}
.description .welcome{
	border: 1px solid hsl(158,30%,30%);
	margin: 20px auto 40px auto;
	padding: 10px;
	background-color: hsl(158,70%,93%);
	width: 74.62%;
	border-radius: 20px;

	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
}
.description .student{
	height: 300px;
	width: 250px;
	float: right;
	margin-left: 10px;
	border-radius: 20px;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 10px 4px hsl(158,30%,30%);

}
.description .pcard{
	height: 300px;
	width: 250px;
	margin-right: 30px;
	float: left;
	border-radius: 20px;
	border: 1px solid hsl(158,70%,93%);
	box-shadow: 2px 2px 10px 4px hsl(158,70%,93%);


}

.description .card{
	margin: 20px auto 20px auto;
	padding: 10px;
	width: 74.62%;


	border-radius: 20px;
	background-color: hsl(158,40%,40%);
	border: 1px solid hsl(158,40%,30%);
	box-shadow: 2px 2px 10px 4px hsl(158,40%,30%);
}
.description h1{
	font-size: 60px;
	color: hsl(158,30%,20%); 
	font-weight: -1000;
	text-decoration: none;
	margin: 20px;
 	text-align: center;
 	font-family: Courier New, monospace;
}

.description h2{
	font-size: 30px;
	text-decoration: none;
	color: hsl(158,70%,93%);
	margin: 0;
	font-family: Arial Narrow, sans-serif;
	font-weight: 600;
}
.description li{
	font-size: 20px; 
	font-family: Arial Narrow, sans-serif;
	line-height:;
	margin: 20px 0 20px 0;
	color: hsl(158,70%,93%);
	font-weight: 545;

}
.description p{
	font-size: 20px; 
	font-family: Arial Narrow, sans-serif;
	line-height: 2;
	margin: 20px 0 20px 0;
	color: hsl(158,30%,30%);
	font-weight: 545;

}
@media (max-width: 700px)
{
	.description{
		margin: 20px;
}
.description .welcome{
	border: 1px solid hsl(280,15%,50%);
	margin: 20px auto 40px auto;
	padding: 10px;

	width: 90%;



}
.description .student{
	height: 200px;
	width: 150px;
	float: right;
	margin-left: 10px;



}
.description .pcard{
	height: 200px;
	width: 150px;
	margin-left: 10px;
	margin-right: 0px;
	float: right;




}

.description .card{
	margin: 20px auto 20px auto;
	padding: 10px;
	width: 90%;


	border-radius: 20px;


}
.description h1{
	font-size: 36px;
	text-decoration: none;
	text-align: center;
	margin: 0;



}
.description h2{
	font-size: 20px;
	text-decoration: none;

	margin: 0;

}
.description li{
	font-size: 15px; 

	line-height: ;
	margin: 20px 0 20px 0;

}
.description p{
	font-size: 15px; 

	line-height: 1.5;
	margin: 20px 0 20px 0;
}

}



.clear{
	clear: both;
}

h2{
	margin: 0px 0px 10px 0px;
	font-family: "Times New Roman",droid-serif;
	font-weight: normal;
}


.clear{
	clear: both;
}
.services{

	border: 1px solid #000000;
	margin: 10px;
}
.bb{
	width: 45%;
	height: 250px;
	margin: 60px 2.3% 0 2.3%;
	float: left;
	border-radius: 10px;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	
}
.buybooks{
	width: 200px;
	height: 230px;

	background: url(images/buy.jpg) left no-repeat;

	display: block;
		float: left;

	text-indent: 300px;
	margin: 10px;
	transition: all 0.5s 0.2s;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 2px hsl(158,40%,40%);


}
.buybooks:hover{
	background-position: -200px 0;
}
.sb{
	width: 45%;
	height: 250px;
	margin: 60px 2.3% 0 2.3%;
	float: left;
	border-radius: 10px;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
}
.sellbooks{
	width: 200px;
	height: 230px;
	border: 1px solid #000000;
	background: url(images/sell.jpg) top no-repeat;

	display: block;
		float: left;
		margin: 10px;
	text-indent: 300px;

	transition: all 0.5s 0.2s;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 2px hsl(158,40%,40%);

}
.sellbooks:hover{
	background-position: 0 -230px;
}
.at{
	width: 45%;
	height: 250px;
	margin: 60px 2.3% 0 2.3%;
	float: left;
	border-radius: 10px;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,40%,40%);
}

.attach{
	width: 200px;
	height: 230px;
	border: 1px solid #000000;
	background: url(images/attach.jpg) left no-repeat;
	display: block;
	float: left;
	text-indent: 300px;
	margin: 10px;
	transition: all 0.5s 0.2s;
	border-radius: 10px;
	border: 1px solid hsl(158,70%,93%);
	box-shadow: 2px 2px 10px 4px hsl(158,70%,93%);


}
.attach:hover{
	background-position: -200px 0;
}
.pc{
	width: 45%;
	height: 250px;
	margin: 60px 2.3% 0 2.3%;
	float: left;
	border-radius: 10px;
	border: 1px solid hsl(158,30%,30%);
	background-color: hsl(158,40%,40%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
}

.profixcard{
	width: 200px;
	height: 230px;
	border: 1px solid #000000;
	background: url(images/pcard.jpg)  no-repeat;
	display: block;
	float: left;
	text-indent: 300px;
	margin: 10px;
	transition: all 0.5s 0.2s;
	border-radius: 10px;
	border: 1px solid hsl(158,70%,93%);
	box-shadow: 2px 2px 10px 4px hsl(158,70%,93%);
}
.profixcard:hover{
	background-position: 0 -230px;
}
.services a{
	font-size: 24px;
	font-family: lato,helvetica,verdana;

}
@media (max-width: 700px)
{
	.services{


	margin: 5px;
}
.bb{
	width: 90%;
	height: 150px;
	margin: 20px 4.5% 0 4.5%;

	float: none;
	border-radius: 10px;
}
.buybooks{
	width: 120px;
	height: 140px;
	border: 1px solid #000000;
	background: url(images/buy1.jpg) left no-repeat;

	display: block;
		float: left;

	text-indent: 150px;
	margin: 5px;
	transition: all 0.01s 0.2s;
	border-radius: 10px;

}
.buybooks:hover{
	background-position: -120px 0;
}
.sb{
	width: 90%;
	height: 150px;
	margin: 20px 4.5% 0 4.5%;

	float: none;
	border-radius: 10px;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,40%,40%);
}
.sellbooks{
	width: 120px;
	height: 140px;
	border: 1px solid #000000;
	background: url(images/sell1.jpg) top no-repeat;

	display: block;
		float: left;
		margin: 5px;
	text-indent: 150px;

	transition: all 0.01s 0.2s;
	border-radius: 10px;
	border: 1px solid hsl(158,70%,93%);
	box-shadow: 2px 2px 10px 4px hsl(158,70%,93%);

}
.sellbooks:hover{
	background-position: 0 -140px;
}
.at{
	width: 90%;
	height: 150px;
	margin: 20px 4.5% 0 4.5%;

	float: none;
	border-radius: 10px;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
}

.attach{
	width: 120px;
	height: 140px;
	border: 1px solid #000000;
	background: url(images/attach1.jpg) left no-repeat;
	display: block;
	float: left;
	text-indent: 150px;
	margin: 5px;
	transition: all 0.01s 0.2s;
	border-radius: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 2px hsl(158,40%,40%);


}
.attach:hover{
	background-position: -120px 0;
}
.pc{
	width: 90%;
	height: 150px;
	margin: 20px 4.5% 0 4.5%;
	float: none;
	border-radius: 10px;
}

.profixcard{
	width: 120px;
	height: 140px;
	border: 1px solid #000000;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 2px hsl(158,40%,40%);
background: url(images/pcard1.jpg) no-repeat;
	display: block;
	float: left;
	text-indent: 150px;
	margin: 5px;
	transition: all 0.01s 0.2s;
	border-radius: 10px;
}
.profixcard:hover{
	background-position: 0 -140px;
}
.services a{
	font-size: 15px;
	font-family: lato,helvetica,verdana;
	
}

}
.years{
	margin: 20px 0 20px 0px;


	border: 1px solid #000000;

}
.st{

	background: url(images/1st.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	margin: 50px auto 50px auto;
	border-radius: 100px;

	transition: all 0.1s;

	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
}
.nd{

	background: url(images/2nd.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	border-radius: 100px;
	margin: 50px auto 50px auto;

	transition: all 0.1s;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
}
.rd{

	background: url(images/3rd.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	margin: 50px auto 50px auto;

	border-radius: 100px;

	transition: all 0.1s;
	box-shadow: 2px 2px 10px 10px hsl(158,70%,93%);
}
.th{

	background: url(images/4th.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	margin: 50px auto 50px auto;

	border-radius: 100px;

	transition: all 0.1s;
	box-shadow: 2px 2px 10px 10px hsl(158,70%,93%);
}
.one{

width: 300px;
float: left;
height: 300px;
margin: 20px 100px 40px 270px;

border-radius: 10px;

border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
}
.two{

width: 300px;
float: left;
height: 300px;
margin: 20px 200px 40px 100px; 
border: 1px solid #000000;
border-radius: 10px;

border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
}
.three{

width: 300px;
float: left;
height: 300px;
margin: 40px 100px 20px 270px;
border: 1px solid #000000;
border-radius: 10px;

border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,40%,40%);

}
.st:hover{
	margin-top: 40px;
}
.nd:hover{
	margin-top: 40px;
}
.rd:hover{
	margin-top: 40px;
}
.th:hover{
	margin-top: 40px;
}

.four{

	width: 300px;
	float: left;
	height: 300px;
	margin: 40px 200px 20px 100px;
	border: 1px solid #000000;
	border-radius: 10px;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,40%,40%);

}
@media (max-width: 700px)
{
	.years{
	margin: 20px 0 20px 0px;

}
.st{

	background: url(images/1st.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	margin: 25px auto 25px auto;
	border-radius: 100px;

	transition: all 0.1s;
}
.nd{

	background: url(images/2nd.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	border-radius: 100px;
	margin: 25px auto 25px auto;

	transition: all 0.1s;
}
.rd{

	background: url(images/3rd.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	margin: 25px auto 25px auto;

	border-radius: 100px;

	transition: all 0.1s;
}
.th{

	background: url(images/4th.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	margin: 25px auto 25px auto;

	border-radius: 100px;

	transition: all 0.1s;
}
.one{

width: 320px;
float: none;
height: 250px;
margin: 10px auto 10px auto;

border-radius: 10px;

}
.two{

width: 320px;
float: none;
height: 250px;
margin: 10px auto 10px auto; 

border-radius: 10px;
}
.three{

width: 320px;
float: none;
height: 250px;
margin: 10px auto 10px auto;

border-radius: 10px;

}
.st:hover{
	margin-top: 15px;
}
.nd:hover{
	margin-top: 15px;
}
.rd:hover{
	margin-top: 15px;
}
.th:hover{
	margin-top: 15px;
}

.four{

	width: 320px;
	float: none;
	height: 250px;
	margin: 10px auto 10px auto;

	border-radius: 10px;

}

}



.media .twitterlogo{
	background: url(images/twitter.jpg) left top no-repeat; 
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 5px;
	text-indent: -9999px;
	margin : 5px 5px 5px 5px;
	float: left;
	background-position: 0px -40px;
	border-radius: 20px;
	transition: 0.1s;

}
.media .gitlogo{
	background: url(images/git.jpg) left top no-repeat; 
	display: block;
	height: 40px;
	width: 40px;
	text-indent: -9999px;
	margin : 5px 5px 5px 5px;
	float: left;
	border-radius: 20px;
	transition: 0.1s;

}
.media .fblogo{
	background: url(images/fb.jpg) left top no-repeat; 
	display: block;
	height: 40px;
	width: 40px;
	text-indent: -9999px;
	float: left;
	margin : 5px 5px 5px 5px;
	border-radius: 20px;
	transition: 0.1s;


}
.media{

	width: 150px;
	margin: 0px auto 0 auto;

}
@media (max-width: 700px)
{
	.media{
		float: left;
		margin-left: 10px;
	}
}

.media .fblogo:hover,.arpit .fblogo:focus{
	background-position: 0 -40px;
}
.media .gitlogo:hover,.arpit .gitlogo:focus{
	background-position: 0 -42px;
}
.media .twitterlogo:hover,.arpit .twitterlogo:focus{
	background-position: 0px 0px;
}
{

}
.footer{
	border: 1px solid #000000;
	height: 200px;
	background-color: hsl(158,45%,15%);

}
.copyright{
	height: 40px;
	background-color: hsl(158,40%,10%);
}
@media (max-width: 700px)
{
	.footer{
	border: 1px solid #000000;
	height: 300px;
	background-color: hsl(158,45%,15%);

}
.copyright{
	height: 40px;
	background-color: hsl(158,40%,10%);
}

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color:auto;

}
.grid-item {
  background-color: hsl(280,30%,60%);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;
  margin: 10px;

}

.year{

	background-color: inherit;
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
	margin: 10px;
	height: 200px;
	border: 1px solid #000000;
	background: url(images/upper1.jpg);
}

.semester{

	background-color: inherit;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 15px;
	background-color: rgb(200,50,125);

}

.dropbtn {
	background-color: hsl(158,30%,45%);
    
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
		margin: 10px auto 10px auto;
		width: 90%;
		height: 50px;
		text-decoration: none;
		box-shadow: 2px 2px 7px 2px hsl(158,30%,45%);
}

.dropdown {
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0.7;
}

.dropdown-content a {
    color: black;
    padding: 20px 0px 12px 0px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e418e; 
}
@media (max-width: 700px)
{
	.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color:auto;

}
.grid-item {
  background-color: hsl(280,30%,60%);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 18px;
  text-align: center;
  margin: 3% ;

}

.year{

	background-color: inherit;
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
	margin: 10px;
	height: 200px;
	border: 1px solid #000000;
	background: url(images/upper1.jpg);
}

.semester{

	background-color: inherit;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 15px;
	background-color: rgb(200,50,125);

}

.dropbtn {

    color: white;
    padding: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;


		height: 50px;
		margin: 15px auto 15px auto;
		width: 90%;
		text-decoration: none;
		box-shadow: 2px 2px 7px 2px hsl(158,30%,45%);
}

.dropdown {


}

.dropdown-content {


    background-color: #000000;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;



}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffffff; 
}

}
.saving{
	margin: 20px 0 20px 0px;


	border: 1px solid #000000;

}
.amazon{
	background: url(images/amazon.jpg) center no-repeat; 
	display: block;
	height: 230px;
	width: 300px;
	text-indent: -99999px;
	margin: 50px auto 50px auto;
	border-radius: 100px;
	border: 1px solid #000000;
	transition: all 0.1s;

	border: 1px solid hsl(158,40%,40%);
	box-shadow: 2px 2px 10px 4px hsl(158,40%,40%);
}
.flipkart{

	background: url(images/flipkart.jpg) center no-repeat; 
	display: block;
	height: 230px;
	width: 300px;
	text-indent: -99999px;
	border-radius: 100px;
	margin: 50px auto 50px auto;
	border: 1px solid #000000;
	transition: all 0.1s;

	border: 1px solid hsl(158,40%,40%);
	box-shadow: 2px 2px 10px 4px hsl(158,40%,40%);
}
.shopclues{

	background: url(images/shopclues.jpg) center no-repeat; 
	display: block;
	height: 230px;
	width: 300px;
	text-indent: -99999px;
	margin: 50px auto 50px auto;

	border-radius: 100px;

	transition: all 0.1s;
	border: 1px solid hsl(158,70%,93%);
	box-shadow: 2px 2px 10px 4px hsl(158,70%,93%);
}

.a{
width: 400px;
float: left;
height: 350px;
margin: 10px 50px 10px 160px;

border-radius: 10px;
background-color: white;
border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
}
.f{

width: 400px;
float: left;
height: 350px;
margin: 10px 50px 10px 150px; 
border: 1px solid #000000;
border-radius: 10px;
background-color: white;
border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
}
.s{

width: 400px;
float: left;
height: 350px;
margin: 10px 100px 10px 460px;

border-radius: 10px;

box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,40%,40%);
}
.amazon:hover{
	margin-top: 40px;
}
.flipkart:hover{
	margin-top: 40px;
}
.shopclues:hover{
	margin-top: 40px;
}
@media (max-width: 700px)
{
	.saving{
	margin: 20px 0 20px 0px;


	border: 1px solid #000000;

}
.amazon{
	background: url(images/amazon.jpg) center no-repeat; 
	display: block;
	height: 230px;
	width: 300px;
	text-indent: -99999px;
	margin: 20px auto 20px auto;
	border-radius: 100px;

	transition: all 0.1s;
}
.flipkart{

	background: url(images/flipkart.jpg) center no-repeat; 
	display: block;
	height: 230px;
	width: 300px;
	text-indent: -99999px;
	border-radius: 100px;
	margin: 20px auto 20px auto;

	transition: all 0.1s;
}
.shopclues{

	background: url(images/shopclues.jpg) center no-repeat; 
	display: block;
	height: 230px;
	width: 300px;
	text-indent: -99999px;
	margin: 20px auto 20px auto;

	border-radius: 100px;

	transition: all 0.1s;
}

.a{
width: 330px;
float: none;
height: 270px;
margin: 10px auto 10px auto;
border: 1px solid #000000;
border-radius: 10px;

}
.f{

width: 330px;
float: none;
height: 270px;
margin: 10px auto 10px auto; 
border: 1px solid #000000;
border-radius: 10px;

}
.s{

width: 330px;
float: none;
height: 270px;
margin: 10px auto 10px auto;
border: 1px solid #000000;
border-radius: 10px;
background-color: white;
box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,40%,40%);
}
.amazon:hover{
	margin-top: 10px;
}
.flipkart:hover{
	margin-top: 10px;
}
.shopclues:hover{
	margin-top: 10px;
}

}
.pcondition{
	float: left;
	margin: 10px 2.3% 10px 2.3%;
	width: 45%;
	height: 600px;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: white;

}
.terms{
	float: left;
	margin: 10px 2.3% 10px 2.3%;
	width: 45%;
	height: 600px;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: white;

}
.tc h1{
	font-size: 45px;
	text-align: center;
	text-decoration: none;
}
.tc li:nth-child(even){
	font-family: Arial Narrow, sans-serif;
	font-size: 18px;
	margin: 15px 10px 15px 10px;
	border: 1px solid #000000;
	padding: 10px 0px 10px 10px;
	border-radius: 5px;
	background-color: hsl(158,40%,40%);
	height: 35px;



}
.tc li:nth-child(odd){
	font-family: Arial Narrow, sans-serif;
	font-size: 18px;
	margin: 15px 10px 15px 10px;
	border: 1px solid #000000;
	padding: 10px 0px 10px 10px;
	border-radius: 5px;
	background-color: hsl(158,70%,93%);
	height: 35px;


}
.tc ol li:before{

  color: black;
}

.tc ol{
	margin: 20px;
}
.dark{

	background-color: ;

}
@media (max-width: 700px)
{
	.pcondition{
	float: none;
	margin: 10px auto 10px auto;
	width: 95%;
	height: 450px;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: white;
	font-size: 15px;

}
.terms{
	float: none;
	margin: 10px auto 10px auto;
	width: 95%;
	height: 600px;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: white;


}
.tc h1{
	font-size: 30px;
	text-align: center;
}
.tc li:nth-child(even){
	font-family: Arial Narrow, sans-serif;
	font-size: 15px;
	margin: 15px 15px 15px 0px;
	border: 1px solid #000000;
	padding: 5px 0px 10px 10px;
	border-radius: 5px;
	background-color: hsl(158,40%,40%);
	height: 40px;
	color: hsl(158,70%,93%);




}
.tc li:nth-child(odd){
	font-family: Arial Narrow, sans-serif;
	font-size: 15px;
	margin: 15px 15px 15px 0px;
	border: 1px solid #000000;
	padding: 5px 0px 10px 10px;
	border-radius: 5px;
	background-color: hsl(158,70%,93%);
	height: 40px;


}

.tc ul{
	margin: 0px;
}

}
.sem1{
	float: left;
	margin: 30px 2.3% 30px 2.3%;
	width: 45%;
	padding-bottom: 30px;
	border: 1px solid hsl(158,30%,45%);
	border-radius: 10px;
	background-color: hsl(158,30%,95%);
	box-shadow: 2px 2px 5px 2px;


}

.sem2{
	float: left;
	margin: 30px 2.3% 30px 2.3%;
	width: 45%;
	padding-bottom: 30px;
	border: 1px solid hsl(158,30%,45%);
	border-radius: 10px;
	background-color: hsl(158,30%,95%);
	box-shadow: 2px 2px 5px 2px;

}
.sem h1{
	font-size: 45px;
	text-align: center;
	text-decoration: none;
	font-family: Courier New, monospace;
	margin-bottom: 30px;
	color: hsl(158,20%,20%);
}

.sem a{
    color: white;
    display: block;
    text-align: center;
    font-size: 20px;
    border: none;
	background-color: hsl(158,30%,45%);
    padding: 10px;
    cursor: pointer;
		margin: 15px auto 15px auto;
		width: 90%;
		text-decoration: none;
		box-shadow: 2px 2px 7px 2px hsl(158,30%,45%); 

}

@media (max-width: 500px)
{
	.sem1{
	float: none;
	margin: 10px auto 10px auto;
	width: 95%;

	border: 1px solid #000000;
	border-radius: 10px;
	padding-bottom: 20px;
    


}
.sem2{
	float: none;
	margin: 10px auto 10px auto;
	width: 95%;

	border: 1px solid #000000;
	border-radius: 10px;
	padding-bottom: 20px;

}
.sem h1{
	font-size: 30px;
	text-align: center;
}
.sem a{
 
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 15px auto 15px auto;

}

}
.books{
	border: 1px solid #000000;

}
.ramanna{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;


}
.ramannabook{

	background: url(images/ramanna.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;


}
@media (max-width: 500px)
{
	.ramanna{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;
	border-radius: 10px;



}
.ramannabook{

	background: url(images/ramanna.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;


}

}
.grewal1{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}
.grewal1book{

	background: url(images/grewal2.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;


}
@media (max-width: 500px)
{
	.grewal1{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

}
}
.malik{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 37% 40px 37%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}
.malikbook{

	background: url(images/malik.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
@media (max-width: 500px)
{
	.malik{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		
.ssdara{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}
.ssdarabook{

	background: url(images/ssdara.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
@media (max-width: 500px)
{
	.ssdara{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

}
}

.jain{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;
}

@media (max-width: 500px)
{
	.jain{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

}

}
.jainbook{

	background: url(images/jain.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;


}
.shashi{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 37% 40px 37%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}
.shashibook{

	background: url(images/shashi.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;
	border-radius: 10px;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
@media (max-width: 700px)
{
	.shashi{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.deltoro{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}
.deltorobook{

	background: url(images/deltoro.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;


}
@media (max-width: 700px)
{
	.deltoro{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.mittal{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}
.mittalbook{

	background: url(images/mittal.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
@media (max-width: 500px)
{
	.mittal{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.nagrath{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}
.nagrathbook{

	background: url(images/nagrath.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
@media (max-width: 500px)
{
	.nagrath{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.jbgupta{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}
.jbguptabook{

	background: url(images/jbgupta.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;


}
@media (max-width: 500px)
{
	.jbgupta{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.creema{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}

.creemabook{

	background: url(images/creema.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
@media (max-width: 500px)
{
	.creema{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.letusc{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;


}
.letuscbook{

	background: url(images/letusc.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;
	border-radius: 10px;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
@media (max-width: 500px)
{
	.letusc{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.cbala{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 37% 40px 37%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;


}
.cbalabook{

	background: url(images/cbala.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;
	border-radius: 10px;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;
}
@media (max-width: 500px)
{
	.cbala{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.bcpunmia{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}

.bcpunmiabook{

	background: url(images/bcpunmia.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
@media (max-width: 500px)
{
	.bcpunmia{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.rskhurmi{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}
.rskhurmibook{

	background: url(images/rskhurmi.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
@media (max-width: 500px)
{
	.rskhurmi{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.kkdwivedi{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 37% 40px 37%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}
.kkdwivedibook{

	background: url(images/kkdwivedi.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
@media (max-width: 500px)
{
	.kkdwivedi{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.rkrajput{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}

.rkrajputbook{

	background: url(images/rkrajput.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
@media (max-width: 500px)
{
	.rkrajput{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.mmrathore{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}
@media (max-width: 500px)
{
	.mmrathore{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.mmrathorebook{

	background: url(images/mmrathore.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
.mathur{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 37% 40px 37%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}
.mathurbook{

	background: url(images/mathur.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
@media (max-width: 500px)
{
	.mathur{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.basantag{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}

.basantagbook{

	background: url(images/basantag.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
@media (max-width: 500px)
{
	.basantag{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.ndbhatt{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;


}
.ndbhattbook{

	background: url(images/ndbhatt.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
@media (max-width: 500px)
{
	.ndbhatt{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.minakshiraman{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 37% 40px 37%;
	border: 1px solid hsl(158,30%,30%);
	box-shadow: 2px 2px 5px 2px hsl(158,30%,30%);
	background-color: hsl(158,70%,93%);
	border-radius: 10px;

}
.minakshiramanbook{

	background: url(images/minakshiraman.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;
	box-shadow: 2px 2px 10px 10px hsl(158,40%,40%);
	border-radius: 10px;

}
@media (max-width: 500px)
{
	.minakshiraman{
	border: 1px solid #000000;
	width: 90%;
	float: none;
	height: 400px;
	margin: 10px 4.5% 40px 4.5%;

		}
}		

.price h1{
	font-size: 28px;
	text-decoration: none;
	font-family: sans-serif;
	margin: 20px 0px 0 0px;
	text-align: center;
	font-family: Snell Roundhand, cursive;
	color: hsl(158,30%,20%);
}
.price h2{
	font-size: 24px;
	margin: 10px 0px 0 0px;
	text-align: center;
	color: hsl(158,10%,50%);
}
.pm-button{

	padding: 10px;
	margin: 10px auto 10px auto;
	width: 120px;
	height: 25px;
	text-align: center;
	font-size: 18px;
	border-radius: 7px;
	background-color: hsl(158,30%,50%);
	color: #ffffff;
	box-shadow: 2px 2px 4px 2px hsl(158,40%,60%);
	transition: 0.1s;


}
.pm-button:hover{
	margin-top: 5px;
	box-shadow: 4px 4px 10px 2px hsl(158,40%,60%);

}
.pm-button a{
	color: white;
	text-decoration: none;
	padding: 10px;
	margin: 10px auto 15px auto;
	width: 120px;
	height: 25px;
	text-align: center;
	font-size: 18px;
	border-radius: 7px;
	background-color: hsl(158,30%,50%);
	color: #ffffff;
	box-shadow: 2px 2px 4px 2px hsl(158,40%,60%);
	transition: 0.1s;
}
.nav2 .dropbtn{
width: 100px;
background-color: hsl(90,5%,80%);
display: none;

}
@media (max-width: 700px)
{
	.nav{
		display: none;
	}
	.nav2{
		float: right;

		margin: 0px ;
	}
	.nav2 .dropbtn{
width: 100px;
color: hsl(90,5%,80%);
display: block;

}
.nav2 img{
	width: 50px;
	height: 50px;
}
.nav2 button{
	display: hidden;
}
.main .dropbtn{
	height: 70px;
	margin: 15px 15px 20px 0;
	background-color: hsl(158,30%,90%);
}