body,html,h1,h2,h3,h4,li,img,p{

	padding: 0 0 0 0;
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;

}
body{
	background-color: hsl(90,5%,80%);
	border: 1px solid #000000;

	margin: 0 auto 0 auto;
}

ul{
	padding: none;
	list-style-type: none;
}

.header{
	border: 1px solid #000000;
	margin: 5px 5px 15px 11.19%;
	float: left;
	height: 110px;
	width: 18.6567%;
}
.header img{
	width: 100%;
	height: 100%;
}
.main{
	color: #000000;
	border: 1px solid #000000;
	width: 100%;

}
@media (max-width: 500px)
{

	.main{
		width: 100%;
		margin: 0px auto 0px auto;
	}

	.header{
		border: 1px solid #000000;
		margin: 0px auto 0px auto;
		float: none;
		height: 90px;
		width: 190px;
	}
	.header img{
		height: 90px;
		width: 190px;
	
	}
}


.nav li{
	display: inline;
}
h1{
	font-size: 45px;
	margin: 20px 0px 0px 0;
	font-family: "Times New Roman",droid-serif;
	font-weight: normal;
	text-decoration: underline;
}
.nav{
	margin: 50px 100px 5px 0px;
	width: 700px;
	float: right;
	height: 65px;
	font-family: rockwell,coustard,patuaone,geometrcic-sans-serif;
	font-size: 20px;
	color: #ff0000;
	border: 1px solid #000000;

	
}


.nav a{

	padding: 5px 10px 5px 10px;
	color: #000000;
	border: 1px solid #000000;
	border-top: 1px solid #000000;
	border-radius: 10px;
}
@media (max-width: 500px)
{
	.nav{
		width: 110%;

		margin: 5px auto 0 auto;
		font-size: 13px;
		height: 40px;

	}
	.nav li{
		width: 60px;

	}
}
.fnav{

	width: 36%;
	margin: 0 auto 0 auto;

	font-family: lato,helvetica,verdana;
	font-size: 15px;



	
}
.fnav li{
	display: inline;

}

.fnav a{


	color: #000000;
	margin: 0px 4.666% 0px 4.666%;
	

}
@media (max-width: 500px)
{
	.fnav{

	width: 120px;
	margin: 0 76% 0 0;
	float: right;
	font-family: lato,helvetica,verdana;
	font-size: 15px;

	list-style: none;

	
}
.fnav li{
	display: block;
	margin: 20px 0 20px 0;


}

.fnav a{


	color: #000000;
	margin: 20px 0 20px 0;
	

}

}
.main{
	color: #000000;

	border: 1px solid #000000;

}

.upper{
	height: 450px;
	border: 1px solid #000000;
	background: url(images/upper.jpg);
}
.upper ul{

}
.upper h1{
	font-size: 72px;
	height: 400;
	width: 600px;
	margin: 100px auto 0 auto;
	font-family: lato,helvetica,verdana;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	
}
.upper h2{
	font-size: 24px;
	height: 400;
	width: 500px;
	margin: 10px auto 50px auto;
	text-align: center;
	color: #ffffff;
	line-height: 1.5;
	text-decoration: none;


}
.upper a{
	font-size: 24px;
	font-family: lato,helvetica,verdana;
	padding: 10px 20px 10px 20px;
	margin: 0 50px 0 50px;

	color: #ffffff;
	text-decoration: none;
	border: 3px solid #ffffff;
	border-radius: 20px;

}
.upper li{
	display: inline;

}
.upper ul{
	margin: 0 auto 0 auto;

	width: 830px; 
}
@media (max-width: 500px)
{
	.upper{
	height: 350px;
	border: 1px solid #000000;
	background: url(images/upper500.jpg);
}
	.upper h1{
	font-size: 56px;
	height: 400;
	width: 300px;

	margin: 20px auto 0 auto;
	font-family: lato,helvetica,verdana;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	
}
	.upper h2{
	font-size: 18px;
	height: 400;
	width: 250px;
	margin: 5px auto 20px auto;
	text-align: center;
	color: #ffffff;
	line-height: 1.5;
	text-decoration: none;


}
.upper a{
	font-size: 16px;
	font-family: lato,helvetica,verdana;
	padding: 10px 10px 10px 10px;
	margin: 0 5px 0 5px;

	color: #ffffff;
	text-decoration: none;
	border: 3px solid #ffffff;
	border-radius: 20px;

}
.upper li{
	display: inline;

}
.upper ul{
	margin: 0 auto 0 auto;

	width: 100%; 

	float: right;
	height: 50px
}

}
.upper1{
	height: 200px;
	border: 1px solid #000000;
	background: url(images/upper1.jpg);	
}
.upper1 h1{
	font-size: 72px;

	width: 800px;
	margin: 20px auto 0 auto;
	font-family: lato,helvetica,verdana;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	
}
.upper1 h2{
	font-size: 24px;

	width: 500px;
	margin: 10px auto 50px auto;
	text-align: center;
	color: #ffffff;
	line-height: 1.5;
	text-decoration: none;


}
.upper1 a{
	font-size: 24px;
	font-family: lato,helvetica,verdana;
	padding: 10px 20px 10px 20px;
	margin: 0 50px 0 50px;

	color: #ffffff;
	text-decoration: none;
	border: 3px solid #ffffff;
	border-radius: 20px;

}
@media (max-width: 500px)
{
	.upper1{
	height: 120px;
	width: 100%;
	border: 1px solid #000000;
	background: url(images/upper1500.jpg);	
}
.upper1 h1{
	font-size: 48px;

	width: 100%;
	margin: 5px auto 5px auto;
	font-family: lato,helvetica,verdana;

	color: #ffffff;
	text-decoration: none;
	
}
.upper1 h2{
	font-size: 18px;

	width: 50%;
	margin: 0px auto 0px auto;
	text-align: center;
	color: #ffffff;
	line-height: 1;
	text-decoration: none;


}
.upper1 a{
	font-size: 18px;
	font-family: lato,helvetica,verdana;
	padding: 10px 20px 10px 20px;
	margin: 0 50px 0 50px;

	color: #ffffff;
	text-decoration: none;
	border: 3px solid #ffffff;
	border-radius: 20px;

}

}
.description{
background-color: hsl(280,71%,93%); 
}
.description .welcome{
	border: 1px solid hsl(280,15%,50%);
	margin: 40px auto 20px auto;
	padding: 10px;

	width: 74.62%;
	border-radius: 20px;
	background-color: white;

}
.description .student{
	height: 300px;
	width: 250px;
	float: right;
	margin-left: 10px;
	border-radius: 20px;
	border: 1px solid hsl(280,15%,50%);

}
.description .pcard{
	height: 300px;
	width: 250px;
	margin-right: 30px;
	float: left;
	border-radius: 20px;
	border: 1px solid hsl(280,15%,50%);


}

.description .card{
	margin: 20px auto 20px auto;
	padding: 10px;
	width: 74.62%;


	border-radius: 20px;
	background-color: white;
	border: 1px solid hsl(280,15%,50%);
}
.description h1{
	font-size: 48px;
	text-decoration: none;

	margin: 0;


}
.description h2{
	font-size: 24px;
	text-decoration: none;

	margin: 0;

}
.description li{
	font-size: 18px; 
	font-family: lato,helvetica,verdana;
	line-height: ;
	margin: 20px 0 20px 0;

}
.description p{
	font-size: 18px; 
	font-family: lato,helvetica,verdana;
	line-height: 1.5;
	margin: 20px 0 20px 0;

}
@media (max-width: 500px)
{
	.description{
background-color: hsl(280,71%,93%); 
}
.description .welcome{
	border: 1px solid hsl(280,15%,50%);
	margin: 40px auto 20px auto;
	padding: 10px;

	width: 90%;
	border-radius: 20px;
	background-color: white;

}
.description .student{
	height: 200px;
	width: 150px;
	float: right;
	margin-left: 10px;
	border-radius: 20px;
	border: 1px solid hsl(280,15%,50%);

}
.description .pcard{
	height: 200px;
	width: 150px;
	margin-left: 10px;
	margin-right: 0px;
	float: right;
	border-radius: 20px;
	border: 1px solid hsl(280,15%,50%);


}

.description .card{
	margin: 20px auto 20px auto;
	padding: 10px;
	width: 90%;


	border-radius: 20px;
	background-color: white;
	border: 1px solid hsl(280,15%,50%);
}
.description h1{
	font-size: 36px;
	text-decoration: none;

	margin: 0;


}
.description h2{
	font-size: 20px;
	text-decoration: none;

	margin: 0;

}
.description li{
	font-size: 15px; 
	font-family: lato,helvetica,verdana;
	line-height: ;
	margin: 20px 0 20px 0;

}
.description p{
	font-size: 15px; 
	font-family: lato,helvetica,verdana;
	line-height: 1.5;
	margin: 20px 0 20px 0;
}

}



.clear{
	clear: both;
}

h2{
	margin: 0px 0px 10px 0px;
	font-family: "Times New Roman",droid-serif;
	font-weight: normal;
}


.clear{
	clear: both;
}
.services{

	border: 1px solid #000000;
	margin: 10px;
}
.bb{
	width: 45%;
	height: 250px;
	margin: 60px 2.3% 0 2.3%;
	border: 1px solid #000000;
	float: left;
	border-radius: 10px;
}
.buybooks{
	width: 200px;
	height: 230px;
	border: 1px solid #000000;
	background: url(images/buy.jpg) left no-repeat;

	display: block;
		float: left;

	text-indent: 300px;
	margin: 10px;
	transition: all 0.5s 0.2s;
	border-radius: 10px;

}
.buybooks:hover{
	background-position: -200px 0;
}
.sb{
	width: 45%;
	height: 250px;
	margin: 60px 2.3% 0 2.3%;
	border: 1px solid #000000;
	float: left;
	border-radius: 10px;
}
.sellbooks{
	width: 200px;
	height: 230px;
	border: 1px solid #000000;
	background: url(images/sell.jpg) top no-repeat;

	display: block;
		float: left;
		margin: 10px;
	text-indent: 300px;

	transition: all 0.5s 0.2s;
	border-radius: 10px;

}
.sellbooks:hover{
	background-position: 0 -230px;
}
.at{
	width: 45%;
	height: 250px;
	margin: 60px 2.3% 0 2.3%;
	border: 1px solid #000000;
	float: left;
	border-radius: 10px;
}

.attach{
	width: 200px;
	height: 230px;
	border: 1px solid #000000;
	background: url(images/attach.jpg) left no-repeat;
	display: block;
	float: left;
	text-indent: 300px;
	margin: 10px;
	transition: all 0.5s 0.2s;
	border-radius: 10px;

}
.attach:hover{
	background-position: -200px 0;
}
.pc{
	width: 45%;
	height: 250px;
	margin: 60px 2.3% 0 2.3%;
	border: 1px solid #000000;
	float: left;
	border-radius: 10px;
}

.profixcard{
	width: 200px;
	height: 230px;
	border: 1px solid #000000;
	background: url(images/pcard.jpg)  no-repeat;
	display: block;
	float: left;
	text-indent: 300px;
	margin: 10px;
	transition: all 0.5s 0.2s;
	border-radius: 10px;
}
.profixcard:hover{
	background-position: 0 -230px;
}
.services a{
	font-size: 24px;
	font-family: lato,helvetica,verdana;

}
@media (max-width: 500px)
{
	.services{


	margin: 5px;
}
.bb{
	width: 90%;
	height: 150px;
	margin: 20px 4.5% 0 4.5%;
	border: 1px solid #000000;
	float: none;
	border-radius: 10px;
}
.buybooks{
	width: 120px;
	height: 140px;
	border: 1px solid #000000;
	background: url(images/buy1.jpg) left no-repeat;

	display: block;
		float: left;

	text-indent: 150px;
	margin: 5px;
	transition: all 0.01s 0.2s;
	border-radius: 10px;

}
.buybooks:hover{
	background-position: -300px 0;
}
.sb{
	width: 90%;
	height: 150px;
	margin: 20px 4.5% 0 4.5%;
	border: 1px solid #000000;
	float: none;
	border-radius: 10px;
}
.sellbooks{
	width: 120px;
	height: 140px;
	border: 1px solid #000000;
	background: url(images/sell1.jpg) top no-repeat;

	display: block;
		float: left;
		margin: 5px;
	text-indent: 150px;

	transition: all 0.01s 0.2s;
	border-radius: 10px;

}
.sellbooks:hover{
	background-position: 0 -300px;
}
.at{
	width: 90%;
	height: 150px;
	margin: 20px 4.5% 0 4.5%;
	border: 1px solid #000000;
	float: none;
	border-radius: 10px;
}

.attach{
	width: 120px;
	height: 140px;
	border: 1px solid #000000;
	background: url(images/attach1.jpg) left no-repeat;
	display: block;
	float: left;
	text-indent: 150px;
	margin: 5px;
	transition: all 0.01s 0.2s;
	border-radius: 10px;

}
.attach:hover{
	background-position: -300px 0;
}
.pc{
	width: 90%;
	height: 150px;
	margin: 20px 4.5% 0 4.5%;
	border: 1px solid #000000;
	float: none;
	border-radius: 10px;
}

.profixcard{
	width: 120px;
	height: 140px;
	border: 1px solid #000000;
	background: url(images/pcard1.jpg) no-repeat;
	display: block;
	float: left;
	text-indent: 150px;
	margin: 5px;
	transition: all 0.01s 0.2s;
	border-radius: 10px;
}
.profixcard:hover{
	background-position: 0 -140px;
}
.services a{
	font-size: 15px;
	font-family: lato,helvetica,verdana;
	
}

}
.years{
	margin: 20px 0 20px 0px;


	border: 1px solid #000000;

}
.st{

	background: url(images/1st.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	margin: 50px auto 50px auto;
	border-radius: 100px;
	border: 1px solid #000000;
	transition: all 0.1s;
}
.nd{

	background: url(images/2nd.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	border-radius: 100px;
	margin: 50px auto 50px auto;
	border: 1px solid #000000;
	transition: all 0.1s;
}
.rd{

	background: url(images/3rd.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	margin: 50px auto 50px auto;

	border-radius: 100px;
	border: 1px solid #000000;
	transition: all 0.1s;
}
.th{

	background: url(images/4th.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	margin: 50px auto 50px auto;

	border-radius: 100px;
	border: 1px solid #000000;
	transition: all 0.1s;
}
.one{

width: 300px;
float: left;
height: 300px;
margin: 10px 100px 10px 270px;
border: 1px solid #000000;
border-radius: 10px;
background-color: white;
}
.two{

width: 300px;
float: left;
height: 300px;
margin: 10px 200px 10px 100px; 
border: 1px solid #000000;
border-radius: 10px;
background-color: white;
}
.three{

width: 300px;
float: left;
height: 300px;
margin: 10px 100px 10px 270px;
border: 1px solid #000000;
border-radius: 10px;
background-color: white;
}
.st:hover{
	margin-top: 40px;
}
.nd:hover{
	margin-top: 40px;
}
.rd:hover{
	margin-top: 40px;
}
.th:hover{
	margin-top: 40px;
}

.four{

	width: 300px;
	float: left;
	height: 300px;
	margin: 10px 200px 10px 100px;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: white;
}
@media (max-width: 500px)
{
	.years{
	margin: 20px 0 20px 0px;
	border: 1px solid #000000;
}
.st{

	background: url(images/1st.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	margin: 25px auto 25px auto;
	border-radius: 100px;
	border: 1px solid #000000;
	transition: all 0.1s;
}
.nd{

	background: url(images/2nd.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	border-radius: 100px;
	margin: 25px auto 25px auto;
	border: 1px solid #000000;
	transition: all 0.1s;
}
.rd{

	background: url(images/3rd.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	margin: 25px auto 25px auto;

	border-radius: 100px;
	border: 1px solid #000000;
	transition: all 0.1s;
}
.th{

	background: url(images/4th.jpg) center no-repeat; 
	display: block;
	height: 200px;
	width: 200px;
	text-indent: -99999px;
	margin: 25px auto 25px auto;

	border-radius: 100px;
	border: 1px solid #000000;
	transition: all 0.1s;
}
.one{

width: 320px;
float: none;
height: 250px;
margin: 10px auto 10px auto;
border: 1px solid #000000;
border-radius: 10px;
background-color: white;
}
.two{

width: 320px;
float: none;
height: 250px;
margin: 10px auto 10px auto; 
border: 1px solid #000000;
border-radius: 10px;
background-color: white;
}
.three{

width: 320px;
float: none;
height: 250px;
margin: 10px auto 10px auto;
border: 1px solid #000000;
border-radius: 10px;
background-color: white;
}
.st:hover{
	margin-top: 15px;
}
.nd:hover{
	margin-top: 15px;
}
.rd:hover{
	margin-top: 15px;
}
.th:hover{
	margin-top: 15px;
}

.four{

	width: 320px;
	float: none;
	height: 250px;
	margin: 10px auto 10px auto;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: white;
}

}



.media .qlogo{
	background: url(images/quoralogo.png) left top no-repeat; 
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 5px;
	text-indent: -9999px;
	margin : 5px 5px 5px 5px;
	float: left;

}
.media .inlogo{
	background: url(images/instalogo.png) left top no-repeat; 
	display: block;
	height: 40px;
	width: 40px;
	text-indent: -9999px;
	margin : 5px 5px 5px 5px;
	float: left;
	border-radius: 5px;

}
.media .fblogo{
	background: url(images/fblogo.png) left top no-repeat; 
	display: block;
	height: 40px;
	width: 40px;
	text-indent: -9999px;
	float: left;
	margin : 5px 5px 5px 5px;
	border-radius: 5px;

}
.media{

	width: 150px;
	margin: 0px 0 0px 590px;
	border: 1px solid #000000;
}
.media .fblogo:hover,.arpit .fblogo:focus{
	margin-top: 0px;
}
.media .inlogo:hover,.arpit .inlogo:focus{
	margin-top: 0px;
}
.media .qlogo:hover,.arpit .qlogo:focus{
	margin-top: 0px;
}
.footer{
	border: 1px solid #000000;
	height: 200px;

}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color:auto;

}
.grid-item {
  background-color: hsl(280,30%,60%);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;
  margin: 10px;

}

.year{

	background-color: inherit;
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
	margin: 10px;
	height: 200px;
	border: 1px solid #000000;
	background: url(images/upper1.jpg);
}

.semester{

	background-color: inherit;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 15px;
	background-color: rgb(200,50,125);

}

.dropbtn {
    background-color: hsl(280,30%,60%);
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
		margin: 15px;
		width: 500px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e418e; 
}
@media (max-width: 500px)
{
	.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color:auto;

}
.grid-item {
  background-color: hsl(280,30%,60%);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 18px;
  text-align: center;
  margin: 3% ;

}

.year{

	background-color: inherit;
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
	margin: 10px;
	height: 200px;
	border: 1px solid #000000;
	background: url(images/upper1.jpg);
}

.semester{

	background-color: inherit;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 15px;
	background-color: rgb(200,50,125);

}

.dropbtn {
    background-color: hsl(280,30%,60%);
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
		margin: 15px;
		width: 300px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e418e; 
}

}
.saving{
	margin: 20px 0 20px 0px;


	border: 1px solid #000000;

}
.amazon{
	background: url(images/amazon.jpg) center no-repeat; 
	display: block;
	height: 230px;
	width: 300px;
	text-indent: -99999px;
	margin: 50px auto 50px auto;
	border-radius: 100px;
	border: 1px solid #000000;
	transition: all 0.1s;
}
.flipkart{

	background: url(images/flipkart.jpg) center no-repeat; 
	display: block;
	height: 230px;
	width: 300px;
	text-indent: -99999px;
	border-radius: 100px;
	margin: 50px auto 50px auto;
	border: 1px solid #000000;
	transition: all 0.1s;
}
.shopclues{

	background: url(images/shopclues.jpg) center no-repeat; 
	display: block;
	height: 230px;
	width: 300px;
	text-indent: -99999px;
	margin: 50px auto 50px auto;

	border-radius: 100px;
	border: 1px solid #000000;
	transition: all 0.1s;
}

.a{
width: 400px;
float: left;
height: 350px;
margin: 10px 50px 10px 160px;
border: 1px solid #000000;
border-radius: 10px;
background-color: white;
}
.f{

width: 400px;
float: left;
height: 350px;
margin: 10px 50px 10px 150px; 
border: 1px solid #000000;
border-radius: 10px;
background-color: white;
}
.s{

width: 400px;
float: left;
height: 350px;
margin: 10px 100px 10px 460px;
border: 1px solid #000000;
border-radius: 10px;
background-color: white;
}
.amazon:hover{
	margin-top: 40px;
}
.flipkart:hover{
	margin-top: 40px;
}
.shopclues:hover{
	margin-top: 40px;
}
@media (max-width: 500px)
{
	.saving{
	margin: 20px 0 20px 0px;


	border: 1px solid #000000;

}
.amazon{
	background: url(images/amazon.jpg) center no-repeat; 
	display: block;
	height: 230px;
	width: 300px;
	text-indent: -99999px;
	margin: 20px auto 20px auto;
	border-radius: 100px;
	border: 1px solid #000000;
	transition: all 0.1s;
}
.flipkart{

	background: url(images/flipkart.jpg) center no-repeat; 
	display: block;
	height: 230px;
	width: 300px;
	text-indent: -99999px;
	border-radius: 100px;
	margin: 20px auto 20px auto;
	border: 1px solid #000000;
	transition: all 0.1s;
}
.shopclues{

	background: url(images/shopclues.jpg) center no-repeat; 
	display: block;
	height: 230px;
	width: 300px;
	text-indent: -99999px;
	margin: 20px auto 20px auto;

	border-radius: 100px;
	border: 1px solid #000000;
	transition: all 0.1s;
}

.a{
width: 330px;
float: none;
height: 270px;
margin: 10px auto 10px auto;
border: 1px solid #000000;
border-radius: 10px;
background-color: white;
}
.f{

width: 330px;
float: none;
height: 270px;
margin: 10px auto 10px auto; 
border: 1px solid #000000;
border-radius: 10px;
background-color: white;
}
.s{

width: 330px;
float: none;
height: 270px;
margin: 10px auto 10px auto;
border: 1px solid #000000;
border-radius: 10px;
background-color: white;
}
.amazon:hover{
	margin-top: 10px;
}
.flipkart:hover{
	margin-top: 10px;
}
.shopclues:hover{
	margin-top: 10px;
}

}
.pcondition{
	float: left;
	margin: 10px 2.3% 10px 2.3%;
	width: 45%;
	height: 600px;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: white;

}
.terms{
	float: left;
	margin: 10px 2.3% 10px 2.3%;
	width: 45%;
	height: 600px;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: white;

}
.tc h1{
	font-size: 45px;
	text-align: center;
	text-decoration: none;
}
.tc li{
	font-family: lato,helvetica,verdana;
	font-size: 18px;
	margin: 15px 10px 15px 10px;
	border: 1px solid #000000;
	padding: 10px 0px 10px 0px;
	border-radius: 5px;
	background-color: hsl(280,30%,60%);
	color: white;

}
.tc ol{
	margin: 20px;
}
.dark{

	background-color: ;

}
@media (max-width: 500px)
{
	.pcondition{
	float: none;
	margin: 10px auto 10px auto;
	width: 95%;
	height: 350px;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: white;

}
.terms{
	float: none;
	margin: 10px auto 10px auto;
	width: 95%;
	height: 530px;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: white;

}
.tc h1{
	font-size: 30px;
	text-align: center;
}
.tc li{
	font-family: lato,helvetica,verdana;
	font-size: 15px;
	margin: 10px 10px 10px 0px;
	border: 1px solid #000000;
	padding: 5px 0px 5px 0px;
	border-radius: 5px;
	background-color: hsl(280,30%,60%);
	color: black;

}
.tc ul{
	margin: 0px;
}

}
.sem1{
	float: left;
	margin: 10px 2.3% 10px 2.3%;
	width: 45%;

	border: 1px solid #000000;
	border-radius: 10px;
	background-color: white;

}

.sem2{
	float: left;
	margin: 10px 2.3% 10px 2.3%;
	width: 45%;

	border: 1px solid #000000;
	border-radius: 10px;
	background-color: white;

}
.sem h1{
	font-size: 45px;
	text-align: center;
	text-decoration: none;
}

.sem a{
	background-color: hsl(280,30%,60%);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
		margin: 15px auto 15px auto;
		width: 500px;

}

@media (max-width: 500px)
{
	.sem1{
	float: none;
	margin: 10px auto 10px auto;
	width: 95%;

	border: 1px solid #000000;
	border-radius: 10px;
	background-color: white;

}
.sem2{
	float: none;
	margin: 10px auto 10px auto;
	width: 95%;

	border: 1px solid #000000;
	border-radius: 10px;
	background-color: white;

}
.sem h1{
	font-size: 30px;
	text-align: center;
}
.sem a{
 background-color: hsl(280,30%,60%);
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
		margin: 15px;
		width: 295px;}

}
.books{
	border: 1px solid #000000;

}
.ramanna{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}
.ramannabook{
	border: 1px solid #000000;
	background: url(images/ramanna.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;


}
.grewal1{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}
.grewal1book{
	border: 1px solid #000000;
	background: url(images/grewal2.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;


}
.malik{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 37% 40px 37%;

}
.malikbook{
	border: 1px solid #000000;
	background: url(images/malik.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;


}
.ssdara{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}
.ssdarabook{
	border: 1px solid #000000;
	background: url(images/ssdara.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;


}
.jain{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}
.jainbook{
	border: 1px solid #000000;
	background: url(images/jain.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;


}
.shashi{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 37% 40px 37%;

}
.shashibook{
	border: 1px solid #000000;
	background: url(images/shashi.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;


}
.deltoro{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}
.deltorobook{
	border: 1px solid #000000;
	background: url(images/deltoro.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;


}
.mittal{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}
.mittalbook{
	border: 1px solid #000000;
	background: url(images/mittal.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;


}.nagrath{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}
.nagrathbook{
	border: 1px solid #000000;
	background: url(images/nagrath.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;


}
.jbgupta{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}
.jbguptabook{
	border: 1px solid #000000;
	background: url(images/jbgupta.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;


}
.creema{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}

.creemabook{
	border: 1px solid #000000;
	background: url(images/creema.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;


}
.letusc{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}
.letuscbook{
	border: 1px solid #000000;
	background: url(images/letusc.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;


}
.cbala{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 37% 40px 37%;

}
.cbalabook{
	border: 1px solid #000000;
	background: url(images/cbala.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;


}
.bcpunmia{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}

.bcpunmiabook{
	border: 1px solid #000000;
	background: url(images/bcpunmia.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;


}
.rskhurmi{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}
.rskhurmibook{
	border: 1px solid #000000;
	background: url(images/rskhurmi.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;


}
.kkdwivedi{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 37% 40px 37%;

}
.kkdwivedibook{
	border: 1px solid #000000;
	background: url(images/kkdwivedi.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;


}
.rkrajput{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}

.rkrajputbook{
	border: 1px solid #000000;
	background: url(images/rkrajput.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;


}
.mmrathore{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}
.mmrathorebook{
	border: 1px solid #000000;
	background: url(images/mmrathore.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;


}
.mathur{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 37% 40px 37%;

}
.mathurbook{
	border: 1px solid #000000;
	background: url(images/mathur.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;


}
.basantag{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}

.basantagbook{
	border: 1px solid #000000;
	background: url(images/basantag.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	margin: 10px auto 10px auto;


}
.ndbhatt{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 12% 40px 12%;

}
.ndbhattbook{
	border: 1px solid #000000;
	background: url(images/ndbhatt.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;


}
.minakshiraman{
	border: 1px solid #000000;
	width: 25%;
	float: left;
	height: 400px;
	margin: 40px 37% 40px 37%;

}
.minakshiramanbook{
	border: 1px solid #000000;
	background: url(images/minakshiraman.jpg) center no-repeat; 
	display: block;
	height: 223px;
	width: 180px;
	text-indent: -99999px;
	margin: 10px auto 10px auto;


}
